<!DOCTYPE html>
<html>
  <head>
    <title>Vive Okey</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="container">
      <div class="card">
        <img
          src="https://backoffice-dev.vive-okey.com/assets/images/logo/logo.png"
          alt="logo"
        />
        <h1><%= title %></h1>
        <p>Welcome to <%= subtitle %></p>
      </div>
    </div>
  </body>
</html>
