 <div style="padding: 4rem 0">
      <div
        style="
          text-align: center;
          border-radius: 2rem;
          margin: 0 20%;
          border-style: dashed;
          border-color: #e6e6e6;
          padding: 1rem 0;
        "
      >
        <img
          src="https://backoffice-dev.vive-okey.com/assets/images/logo/logo.png"
          alt="logo"
        />
        <h1 style="text-align: center">Vive Okey </h1>
        <p style="text-align: center">
          Dale clic para verificar tu direcci贸n de correo electr贸nico
        </p>
        <div style="text-align: center">
          <a
            style="
              text-align: center;
              text-decoration: none;
              border-radius: 1rem;
              background-color: #3b82f6;
              color: #fff;
              padding: 0.5rem 1.5rem;
            "
            href="<%= link %>"
            target="_blank"
          >
            Verifica tu correo</a
          >
        </div>

        <p style="text-align: center">
          Si no solicitaste la verificaci贸n de esta direcci贸n, ignora este
          correo electr贸nico.
        </p>
        <p style="text-align: center">Gracias </p>
      </div>
    </div>
